@font-face {
  font-family: AvenirNextPro;
  src: url("../font/AvenirLTStd-Light.woff") format("opentype");
}

/* overriding bootstrap default styles */
#navbar-margin {
  margin-bottom:0;
}

.results-container .searchForm-submit:focus{
   outline: none !important;
}

/* prevents unintentional routing in Angular via href tags on empty anchors Bootstrap uses for styling */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* default styles */

body {
  background-color: #d3d3d3;
  overflow-x:hidden;
  font-family: AvenirNextPro, cursive;
}

 ul {
  list-style-type: none;
  text-align: center;
}

li {
  display: inline-block;
}

p {
  margin-bottom: 2px;
}

a, a:hover, a:focus {
  color: #5F327C;
  text-decoration: none;
  cursor:pointer;
}

small {
  font-style: italic;
}

.main-color {
  color:#5f327c;
}

.header img {
  display: inline-block;
  width: 200px;
  height: 60px;
  position:fixed;
  top:0;
  left:0;
  z-index:99;
  cursor: pointer;
}

.main-container {
  margin: 20px 10px 75px 10px;
}

.main-container .map-container {
  width:100%;
  /* fixed width must be set for map-canvas */
  height:950px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  margin:0;
}

.main-container #map-canvas {
  height:100%;
  width:100%;
}

.main-container #main-resultanddetails-container {
  padding-left:0;
}

.details-container, .results-container {
  height:950px;
  overflow:scroll;
  border:2px solid #5f327c;
  background-color: #fff;
  overflow-x:hidden;
  margin:0;
  padding:0 20px 10px 20px;
}

.results-container hr {
  margin-top: 0;
  margin-bottom: 10px;
}

.results-container .direction {
  color: #5f327c;
  font-size: 20px;
  margin-bottom: 15px;
}

.loading-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  top:60%;
  right:28%;
}

.details-container .details-neighborhood-bg {
  background: webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  width:100%;
  height:100px;
}

.details-container h1 {
  font-size: 72px;
  text-align: center;
  padding-top:10px;
  color:#fff;
}

.details-container h4,
.details-container p,
.details-container h5 {
  display: inline-block;
}

.details-container label {
  margin-left:20px;
}

.attractions-container li,
.amenities-container li {
  cursor:pointer;
}

.amenities-container .activeCategory li {
  font-size: 20px;
}

.amenities-container .activeCategory img {
  width: 20px;
}

/*.details-container .attractions,
.details-container .amenities {
  height:200px;
  overflow:scroll;
  padding-left:0;
  cursor:pointer;
}

.details-container .attractions li,
.details-container .amenities li {
  display: block;
  border-right:1px solid #000;
  margin-left:30px;
  text-align: left;
}

.amenities-container .activeCategory span,
.attractions-container .activeCategory span {
  display: inline-block;
  width:132px;

.amenities-container .activeCategory::after,
.attractions-container .activeCategory::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
}

.next::after {
  border-style: solid;
}

.next::after {
  right: -24px;
  border-width: 12px;
  border-color: transparent transparent transparent #5F327C;
}*/

.spot {
  display: block;
  color:#5F327C;
  width:100%;
  padding:10px 10px 10px 10px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 4px rgba(31, 31, 31, 0.30);
    -moz-box-shadow:    0px 0px 4px rgba(31, 31, 31, 0.30);
    box-shadow:         0px 0px 4px rgba(31, 31, 31, 0.30);
}

.details-container .icon {
  display: inline-block;
  margin-right:0px;
  width:25px;
  height:25px;
}

.details-container .commute .card-block {
  text-align: right;
}

.details-container .rent-commute-container h5 {
  display: block;
  font-size: 26px;
}

.details-container .rent-commute-container {
  border-bottom:1px solid #5f327c;
  padding-bottom: 10px;
}

.slideshow {
  overflow:hidden;
  height:200px;
  position:relative;
}

.slideshow .profile-buttons {
  display: block;
  position:absolute;
  max-width:50%;
  height:40px;
  padding:5px 15px 0 15px;
  background-color: #5f327c;
  z-index:1;
  font-size: 25px;
  color:#fff;
  text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
    -webkit-box-shadow: 0px 4px 5px rgba(31, 31, 31, 0.50);
    -moz-box-shadow:    0px 4px 5px rgba(31, 31, 31, 0.50);
    box-shadow:         0px 4px 5px rgba(31, 31, 31, 0.50);
}

.slideshow .back-button {
  right:5px;
  top:5px;
}

.slideshow .neighborhood-name {
  top:5px;
}

.instagram-default-background {
  background-image: url("../images/instagram_default.jpg");
  background-size: cover;
  width: 800px;
  height: 200px;
}

.slideshow .picture-container {
  position: relative;
}

.slideshow .instagram-username {
  z-index:1;
  position:absolute;
  bottom:10px;
  left:10px;
  color:white;
}

.nav-container {
  margin-top: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.nav-button-default {
    -webkit-box-shadow: 0px 0px 4px rgba(31, 31, 31, 0.30);
    -moz-box-shadow:    0px 0px 4px rgba(31, 31, 31, 0.30);
    box-shadow:         0px 0px 4px rgba(31, 31, 31, 0.30);
  padding-top:5px;
  min-width:100px;
  width:80%;
  max-height:60px;
  max-height:60px;
  margin:0 auto;
}

.nav-button-on a {
  color:#fff;
}

.nav-container .nav-button-on {
  background-color: #5f327c;
}

.nav-button-off a {
  color:#5f327c;

}

.nav-container .nav-button-off {
  background-color: #FFF;
}


.thumbnails-container {
  text-align: center;
}

.thumbnails-container h4 {
  font-size: 16px;
}

.thumbnails-container .card {
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  padding-bottom:10px;
}

.thumbnails-container .card-title-container {
  display: flex;
  background-color: #5f327c;
  color:#fff;
  font-size: 18px;
  height:60px;
  padding:10px;
}

.thumbnails-container .card-container {
  margin-bottom: 30px;
}

.thumbnails-container .card-title-text {
  word-break: break-all;
  display: inline-block;
  align-self:center;
  text-align: center;
  margin: 0 auto;
}

.thumbnails-container .card h5 {
  margin-bottom: 0;
  font-weight: bold;
}

.thumbnails-container .card h6 {
  margin-top: 2px;
}

.searchForm form {
  margin-top:20px;
}

.form-control,
.searchForm .form-group input {
  /*border-radius: 0;
  -webkit-appearance: none;*/
}

.filterForm .orderBy {
  display: inline-block;
}

.filterForm .orderBy label {
  margin-top:5px;
}

.filterForm .filter-options-btn {
  border-radius: 0;
  -webkit-appearance: none;
  margin-bottom:15px;
}

.filterForm .filter-btn {
  margin-top:22px;
}

.footer {
  position:fixed;
  bottom:0;
  height:auto;
  width: 100%;
  padding: 20px 5px 5px 0;
  background-color:#f8f8f8;
  border-color: #e7e7e7;
}

.searchForm-submit {
  color: #FFF;
  vertical-align: middle;
  background-color: #5F327C;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  border-image: none;
  border: none;
}


@media only screen and (min-width:380px) and (max-width: 992px)  {

  .filterForm .orderBy {
    display: none;
  }

  .main-container .map-container {
    height:450px;
  }

  .main-container .results-container {
    min-height:450px;
    padding:0 10px 10px 10px;
  }

  .main-container {
    margin-left:30px;
    margin-bottom: 110px;
  }

  .form-control {
    margin-bottom:10px;
  }

  .main-left-container {
    padding-left:0;
  }
}

/* Amenities a.k.a services */
.amenities-container,
.attractions-container,
.charts-container {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  height: inherit;
  min-height:570px;
  margin-top:20px;
  padding:20px;
  margin-bottom: 8px;
}

.amenities-categories {
  min-height:450px;
}

.amenities-categories,
.charts-container .factual-info  {
   border-right:2px solid #af98bd;
}

.attractions-list,
.amenities-list {
  margin-left:-2px;
  border-left:2px solid #af98bd;
}

.amenities-list .spot-name {
  display:block;
  text-align:left;
}

.amenities-list .spot-name h4 {
  display:inline-block;
  margin-left:0;
}

.amenities-list .spot-name div {
  display:inline-block;
  float:right;
}

.amenities-list .spot-address {
  text-align:left;
}

.amenities-list .spot-address div {
  display:inline-block;
}

.amenities-container h4 {
  margin-left:0;
  color:#5F327C;
}

.amenities-list img,
.attractions-list img {
  display:block;
  margin:0 auto;
  width:80%;
}

.amenities-list img {
  width:70%;
}

.charts-container ul {
  margin:15px 10px 10px -50px;
  padding-right:20px;
}

.charts-container li {
  margin:15px auto;
  padding-right:10px;
  text-align: center;
}

.charts-container li h5 {
  display:block;
  font-weight: bold;
}

.charts-container span {
  font-size:20px;
}

#pie-chart {
  margin-top:20px;
  padding-top:20px;
}

.chart-splitter {
  border: 1px solid #5F327C;
}

.bar-chart-container,
.pie-chart-container {
  text-align: center;
}

.bar-chart-container h4 {
  display: block;
}

.bar-chart-container img,
.pie-chart-container img{
  display: inline-block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 15px;
  width: 250px;
  height: auto;
}

.bar-chart-container {
  margin-top: 30px;
}

.amenities-container h4,
.attractions-container h4 {
  display:block;
  margin-left:0;
}

.amenities-categories ul {
  margin-left:0;
}

.amenities-categories li {
  display: block;
  margin: 20px -30px;
  text-align: left;
  font-size: 16px;
  color:#000;
}

.amenities-categories img {
  display: inline-block;
  margin-right:7px;
  width:20px;
}

.amenities-categories .category-container {
  /*transition: font-size 0.2s ease;*/
  -webkit-transition: font-size 0.2s ease-out;
  -moz-transition: font-size 0.2s ease-out;
  -o-transition: font-size 0.2s ease-out;
  transition: font-size 0.2s ease-out;
  font-size: 16px;
}
.amenities-categories .category-container:hover {
  font-size: 20px;
}

.amenities-categories .category-container img{
  /*transition: width 0.2s ease;*/
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  -o-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
  width: 16px;
}
.amenities-categories .category-container:hover img{
  width: 20px;
}


#pie-chart,
#percentage-chart {
  min-width: 280px;
}

/*SPINNER*/

.loading-image {
  display: inline-block;
  height:60px;
  width:auto;
  position: absolute;
  top: 41%;
  right:46%;
}

.spinner {
  position: absolute;
  top: 50%;
  right:50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.spoke {
  height: 30px;
  width: 6px;
  background: #FFF;
  position: absolute;
  -webkit-animation: something_maybe_cool_idk 2s infinite ease;
          animation: something_maybe_cool_idk 2s infinite ease;
}
.spoke:nth-child(1) {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-transform-origin: 50% -200%;
      -ms-transform-origin: 50% -200%;
          transform-origin: 50% -200%;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.spoke:nth-child(2) {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
  -webkit-transform-origin: 50% -200%;
      -ms-transform-origin: 50% -200%;
          transform-origin: 50% -200%;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.spoke:nth-child(3) {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 50% -200%;
      -ms-transform-origin: 50% -200%;
          transform-origin: 50% -200%;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
.spoke:nth-child(4) {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
  -webkit-transform-origin: 50% -200%;
      -ms-transform-origin: 50% -200%;
          transform-origin: 50% -200%;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.spoke:nth-child(5) {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
  -webkit-transform-origin: 50% -200%;
      -ms-transform-origin: 50% -200%;
          transform-origin: 50% -200%;
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}
.spoke:nth-child(6) {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform-origin: 50% -200%;
      -ms-transform-origin: 50% -200%;
          transform-origin: 50% -200%;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.spoke:nth-child(7) {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
  -webkit-transform-origin: 50% -200%;
      -ms-transform-origin: 50% -200%;
          transform-origin: 50% -200%;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}
.spoke:nth-child(8) {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
  -webkit-transform-origin: 50% -200%;
      -ms-transform-origin: 50% -200%;
          transform-origin: 50% -200%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.spoke:nth-child(9) {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transform-origin: 50% -200%;
      -ms-transform-origin: 50% -200%;
          transform-origin: 50% -200%;
  -webkit-animation-delay: 2.25s;
          animation-delay: 2.25s;
}
.spoke:nth-child(10) {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg);
  -webkit-transform-origin: 50% -200%;
      -ms-transform-origin: 50% -200%;
          transform-origin: 50% -200%;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.spoke:nth-child(11) {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg);
  -webkit-transform-origin: 50% -200%;
      -ms-transform-origin: 50% -200%;
          transform-origin: 50% -200%;
  -webkit-animation-delay: 2.75s;
          animation-delay: 2.75s;
}
.spoke:nth-child(12) {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transform-origin: 50% -200%;
      -ms-transform-origin: 50% -200%;
          transform-origin: 50% -200%;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes something_maybe_cool_idk {
  50% {
    background: purple;
    -webkit-transform-origin: 50% -170%;
            transform-origin: 50% -170%;
  }
}

@keyframes something_maybe_cool_idk {
  50% {
    background: purple;
    -webkit-transform-origin: 50% -170%;
            transform-origin: 50% -170%;
  }
}


