/* overriding bootstrap default styles */

#navbar-margin {
  margin-bottom:0;
}



/* default styles */

 ul {
  list-style-type: none;
  text-align: center;
}

li {
  display: inline-block;
}

p {
  margin-bottom: 2px;
}

small {
  font-style: italic;
}

.navbar-header .logo {
  display:inline-block;
  width:25px;
  height:25px;
  color:#fff;
}

.main-container {
  margin:0 20px;
}

.main-container > div {
  border-left:1px solid #a6a6a6;
}

.thumbnails-container {
  text-align: center;
}

.thumbnails-container h4 {
  font-size: 16px;
}

.searchForm form {
  margin-top:20px;
}


.footer {
  height:50px;
  background-color:#f8f8f8;
  border-color: #e7e7e7;
}
