<!doctype html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movein Assistant</title>
    <link href="assets/css/app.css" rel="stylesheet" type="text/css">
    <!-- <link rel="stylesheet" href="./assets/css/foundation-icons.css"> -->
    <link rel="stylesheet" href="./assets/css/styles.css">
  </head>

  <body ng-controller="MainController as main">

    <div> <!-- start search header -->
      <img src="../assets/images/app-icon.png" alt="logo" style="width:25; height:25px">
      <h3>Move-in Assistant</h3>
    </div>

    <!-- Refactored to improve autocomplete -->
    <div>
      <input type="search" ng-model="main.searchInfo.address" id="place-search" placeholder="Enter an address">
      <!-- changed from main.address to main.searchInfo.address -->
      <button class="button" ng-click="main.submitAddress()">Submit</button>
    </div>

    <div ui-view></div>
    <a ui-sref="main.results">Main results</a>
    <a ui-sref="main.details">Main details</a>

    <div> <!-- start footer section -->
      <ul>
        <li>&copy; Move-in Assistant</li>
        <li>Raghav Abboy,</li>
        <li>Melinda Bernardo,</li>
        <li>Evan Mencke,</li>
        <li>and Kalisa Falzone</li>
      </ul>
    </div> <!-- end footer section -->

    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="https://google-maps-utility-library-v3.googlecode.com/svn-history/r391/trunk/markerwithlabel/src/markerwithlabel.js"></script>


    <!-- Source JS files -->
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>

    <script src="app/app.js"></script>
    <script src="app/map/mapController.js"></script>
    <script src="app/searchForm/searchFormController.js"></script>
    <script src="app/results/resultsController.js"></script>
    <script src="app/filter/filterController.js"></script>
    <script src="app/thumbnails/thumbnailsController.js"></script>
    <script src="app/mainCtrl.js"></script>
    <script src="app/services.js"></script>
    <script src="app/map/mapService.js"></script>
    <script src="app/map/mapDirective.js"></script>
    <script src="app/searchForm/searchFormDirective.js"></script>
    <script src="app/filter/filterDirective.js"></script>
    <script src="app/thumbnails/thumbnailsDirective.js"></script>

  </body>
</html>
