<!-- Local Services -->
<div class="col-md-12 attractions-container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-xs-12 col-sm-10">
          <div class="row" ng-repeat="place in details.currentNeighborhood.services">
            <img class="icon" src="assets/images/restaurant-icon.png" alt="service icon">
            <span ng-click="details.displayMarkers(place)">{{place[0].type}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
