<div>
  <div> <!-- start of rent section -->
    <div>
      <label>Max Monthly Price:</label>
    </div>
    <div>${{main.searchInfo.maxRent}}
      <input type="range" name="rentRange" min="0" max="8000" value="1000" step="25" ng-model="main.searchInfo.maxRent">
    </div>
  </div> <!-- end of rent section -->

  <div>  <!-- start of time/distance section -->
    <div>
      <label>Max Time:</label>
    </div>
    <div>
      <select name="commuteTime" ng-model="main.searchInfo.commuteTime">
        <option value="15">15 min</option>
        <option value="30">30 min</option>
        <option value="45">45 min</option>
        <option value="60">1 hr</option>
      </select>
    </div>

    <div>
        <label>Max Distance:</label>
    </div>
    <div>
      <select name="commuteDistance" ng-model="main.searchInfo.commuteDistance">
        <option value="5">5 miles</option>
        <option value="10">10 miles</option>
        <option value="15">15 miles</option>
        <option value="20">20 miles</option>
        <option value="25">25 miles</option>
        <option value="30">30 miles</option>
      </select>
    </div>
  </div> <!-- end of time/distance section -->

  <div>
    <button ng-click="main.filterNeighborhoods()">Filter Search Results</button>
  </div>
</div>
