<!-- Local Services -->
<div class="col-md-12 amenities-container" ng-init="details.currentSpotsToDisplay = []; details.stateSwitch('amenities'); details.selectedCategory = undefined;">
  <div class="col-md-4 amenities-categories">
    <h3>Categories</h3>
    <hr>
    <ul ng-repeat="service in details.currentNeighborhood.services" class="service-container">
      <li class="category-container" ng-click="details.displayMarkers(service); details.selectCategory($index); details.displayAmenitiesOrAttractions(service);" ng-class="{'activeCategory next': $index === details.selectedCategory}">
        <img ng-src="{{details.getAmenitiesIcon(service[0])}}" alt="icon for amenity category">
        <span>{{service[0].displayName}}</span>
      </li>
    </ul>
  </div>

  <div class="col-md-8 amenities-list">
    <h3>Listings</h3>
    <hr>
    <img ng-if="details.selectedCategory === undefined" src="assets/images/DefaultMessages/AmenityMessage.png" alt="default-msg">
    <ul ng-repeat="spot in details.currentSpotsToDisplay">
      <li class="spot" ng-click="details.toggleTooltip(details.currentSpotsToDisplay[$index]);">
        <div class="spot-name">
          <h4>{{spot.name}}</h4>
          <div ng-if="spot.rating">Rating: {{spot.rating}}</div>
        </div>
        <div class="spot-address">
          <div>{{spot.vicinity}}</div>
        </div>
      </li>
    </ul>
  </div>
</div>
