<div class="thumbnails-container">
  <div class="card-deck-wrapper col-md-12">
  <!---single glance card start-->
    <div class="card-deck">
      <div ng-repeat="neighborhood in main.filteredNeighborhoodArray | orderBy:main.filterType">
        <div class="card col-md-4" ng-click="main.selectNeighborhood(neighborhood)">
          <img class="card-img-top" src="assets/images/santamonicasmall.jpg" alt="picture of neighborhood">
          <h3 class="card-title">{{neighborhood.name}}</h3>
          <div class="card-block">
            <h4 class="card-title">Rent Averages</h4>
            <p class="card-text">${{neighborhood.estimateLow || N/A }} - ${{neighborhood.estimateHigh || N/A }}</p>
          </div>
          <div class="card-block">
            <h4 class="card-title">Commute Time</h4>
            <p class="card-text">{{neighborhood.commuteDistance}} miles | {{neighborhood.commuteTime}} minutes</p>
          </div>
          <small class="text-muted">Rent data powered by Zilpy</small>
        </div>
      </div>
    </div>
    <!---single glance card end-->
  </div>
